<nav>
  <div id="logo"><img src="" alt="" />asd</div>
  <ul>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Profil</a></li>
    <li><a href="#">Hubungi Kami</a></li>
    <li><a href="#">Cart</a></li>
  </ul>
</nav>
