<!-- Body -->
<%- contentFor('body') %>
<section class="home-hero">
  <img src="" alt="" />
  <div class="hero-content">
    <span>Selera Nusantara</span>
    <h1>Katering Penghilang Rindu Kampung Halaman</h1>
    <p>
      <span>KATRING</span> adalah perusahaan katering yang khusus menyediakan
      masakan dari seluruh Nusantara. Tujuan kami adalah untuk mengobati rasa
      kangen teman-teman yang sedang bekerja di perantauan.
    </p>
    <p>
      Saat ini ada 12 macam masakan dari 3 provinsi yang ada di Indonesia.
      Kedepannya akan ada menu-menu baru untuk menjadi varian di dalam menu
      kami.
    </p>
    <a href="#">Lihat Menu</a>
  </div>
</section>
