<%- include("partials/header-tertiary.ejs") %>
<section>
  <div class="profil-visi-misi">
    <div class="visi-misi-container">
      <div class="image-placeholder">
        <img src="/images/visi-misi-img-min.jpg" alt="" />
        <div class="image-vector"></div>
      </div>
      <div class="visi-misi-content">
        <h2>Visi & Misi</h2>
        <p>
          Menjadi perusahaan jasa boga yang mengedepankan kualitas, loyalitas
          tinggi dan mengutamakan kepuasan pelanggan. Untuk menjadi penyedia
          jasa catering terbaik, terpercaya di Indonesia. <br />
          <br />
          Memberikan pelayanan dengan kualitas dan harga bersaing serta
          memberikan rasa kepastian (Confidence) bahwa produk dan pelayanan akan
          memenuhi syarat dan keinginan pelanggan (Customer Need). Memberikan
          pelayanan terbaik kepada para pelanggan dan menjalin kerjasama
          yangbaik, menguntungkan antar rekan, pengusaha dan pekerja.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="profil-chef">
    <div class="chef-container">
      <div class="chef">
        <img src="/images/chef-renata-img-min.jpg" alt="" />
        <p class="name">Chef Renatta</p>
        <p class="title">Masakan Jawa Timur</p>
      </div>

      <div class="chef">
        <img src="/images/chef-will-img-min.jpg" alt="" />
        <p class="name">Chef Will</p>
        <p class="title">Masakan Sumatera Barat</p>
      </div>

      <div class="chef">
        <img src="/images/chef-degan-img-min.jpg" alt="" />
        <p class="name">Chef Degan</p>
        <p class="title">Masakan Aceh</p>
      </div>

      <div class="chef">
        <img src="/images/chef-marinka-img-min.jpg" alt="" />
        <p class="name">Chef Marinka</p>
        <p class="title">Masakan Kalimantan Utara</p>
      </div>
    </div>
  </div>
</section>
<%-include("partials/footer-secondary.ejs") %>
