<head>
  <style>
    footer {
      background: #f3ebde;
      color: #201416;
    }
    footer .footer-nav a {
      color: #201416;
    }
  </style>
</head>
<footer>
  <div class="footer-nav">
    <li><a href="/hubungi-kami">Hubungi Kami</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/" class="logo-footer">Katring</a></li>
    <li><a href="/profil">Profil</a></li>
    <li><a href="/keranjang">Keranjang</a></li>
  </div>
  <div class="copyright">
    &copy; Copyright <span class="copyright-year"></span> Katring - Developed by
    Nayaka Yoga Pradipta
  </div>
  <div class="terms">Privacy – Terms</div>
</footer>
