<head>
  <style>
    footer {
      background: #201416;
      color: #f3ebde;
    }
    footer .footer-nav a {
      color: #f3ebde;
    }
  </style>
</head>
<footer>
  <div class="footer-nav">
    <li><a href="/hubungi-kami">Hubungi Kami</a></li>
    <li><a href="/menu">Menu</a></li>
    <li><a href="/" class="logo-footer">Katring</a></li>
    <li><a href="/profil">Profil</a></li>
    <li><a href="/keranjang">Keranjang</a></li>
  </div>
  <div class="copyright">
    &copy; Copyright 2020 Katring - Developed by Nayaka Yoga Pradipta
  </div>
  <div class="terms">Privacy – Terms</div>
</footer>
