<nav>
  <div class="container">
    <div id="logo">
      <a href="/"><img src="/images/logo-light.svg" alt="katring logo" /></a>
    </div>
    <ul>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/profil">Profil</a></li>
      <li><a href="/hubungi-kami">Hubungi Kami</a></li>
      <li>
        <a href="keranjang"><img src="/images/cart-light.svg" alt="" /></a>
      </li>
    </ul>
  </div>
</nav>
