@import "./variables";
nav {
  min-height: 10vh;
  padding-top: 3rem;
  #logo {
    img {
      width: 60%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 3rem;
    }
  }
}
.container {
  @include widthOptimized();
  display: flex;
  justify-content: space-between;
  align-items: center;
}
