@import "./variables";
nav {
  @include widthOptimized();
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  #logo {
    img {
      width: 60%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 3rem;
    }
  }
}
.container {
  background: $color-primary;
}
