$color-primary: #201416;
$color-secondary: #f3ebde;
$color-special: #dd2b37;
$font-primary: "Lato", sans-serif;
$font-secondary: "Mulish", sans-serif;

@mixin widthOptimized {
  width: 90%;
  margin: 0 auto;
}
h2 {
  font-family: $font-primary;
  font-size: 3rem;
  color: white;
  font-weight: 700;
}
h3 {
  color: white;
  font-family: $font-secondary;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}
