h3 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}

h3 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}

nav {
  min-height: 10vh;
  padding-top: 3rem;
}

nav #logo img {
  width: 60%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 3rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h3 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3rem 0;
}

footer .footer-nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-width: 1.5px;
  border-style: none none solid none;
}

footer .footer-nav a {
  color: #201416;
}

footer .footer-nav li {
  margin: 0 2rem;
}

footer .footer-nav .logo-footer {
  font-size: 3.6rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

footer .copyright,
footer .terms {
  font-size: 1.8rem;
  font-weight: 300;
}

h3 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}

.home-hero {
  background: #201416;
}

.home-hero .container {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-hero .container img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  padding: 15rem 3rem;
  background: url("/images/bg-radial-hero.png");
  background-size: cover;
  background-position: center;
}

.home-hero .container .hero-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  margin-left: 4rem;
}

.home-hero .container .hero-content .subtitle {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.home-hero .container .hero-content h1 {
  color: white;
  font-size: 4.8rem;
  margin: 1rem 0 3rem 0;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
}

.home-hero .container .hero-content p {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.home-hero .container .hero-content .btn {
  background: #dd2b37;
  margin-top: 10rem;
}

.home-populer {
  background: #201416;
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-populer .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.home-populer .card-container .card {
  border-radius: 5px;
  margin: 1rem 2rem;
  width: 350px;
  height: 410px;
  background: #f3ebde;
}

.home-populer .card-container .card img {
  border-radius: 5px;
}

.home-populer .card-container .card .card-content {
  padding: 2rem;
}

.home-populer .card-container .card .card-content .title {
  font-family: "Mulish", sans-serif;
  color: #dd2b37;
  font-size: 2.4rem;
  font-weight: 700;
}

.home-populer .card-container .card .card-content .body {
  color: #201416;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 1rem 0;
}

.home-populer .card-container .card .card-content .checked {
  color: gold;
}

.home-populer .card-container .card .card-content .fa-star {
  font-size: 2rem;
}

.home-populer .btn {
  border: solid 3px #f3ebde;
  margin: 0 auto;
}

.home-pitching {
  background: #dd2b37;
  padding: 15rem 0;
}

.home-pitching .container {
  background: #dd2b37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-pitching .container h2 {
  font-family: "Mulish", sans-serif;
  font-size: 4.8rem;
  font-weight: 900;
  color: white;
  text-align: center;
  padding: 0 10rem;
}

.home-pitching .container h2 span {
  color: #ffa7a7;
}

.home-pitching .container .values-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}

.home-pitching .container .values-container .value {
  width: 250px;
  margin: 0 3rem;
}

.home-pitching .container .values-container .value img {
  margin-bottom: 2rem;
}

.home-pitching .container .values-container .value .title {
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
}

.home-pitching .container .values-container .value .subtitle {
  font-size: 1.4rem;
  color: white;
}

.home-kategori {
  background: #201416;
  padding: 10rem 0;
}

.home-kategori .kategori-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-kategori .kategori-container .kategori {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-kategori .kategori-container .kategori p {
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.home-kategori .kategori-container .jatim {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 129, 105, 0.5))), url("/images/surabaya-img-min.png");
  background: linear-gradient(to bottom, rgba(129, 129, 105, 0.5) rgba(0, 0, 0, 0.5)), url("/images/surabaya-img-min.png");
}

.home-kategori .kategori-container .sumbar {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 129, 105, 0.5))), url("/images/sumbar-img-min.png");
  background: linear-gradient(to bottom, rgba(129, 129, 105, 0.5) rgba(0, 0, 0, 0.5)), url("/images/sumbar-img-min.png");
}

.home-kategori .kategori-container .aceh {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 129, 105, 0.5))), url("/images/aceh-img-min.png");
  background: linear-gradient(to bottom, rgba(129, 129, 105, 0.5) rgba(0, 0, 0, 0.5)), url("/images/aceh-img-min.png");
}

.home-kategori .kategori-container .kaltaru {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 129, 105, 0.5))), url("/images/kalimantan-utara-img-min.png");
  background: linear-gradient(to bottom, rgba(129, 129, 105, 0.5) rgba(0, 0, 0, 0.5)), url("/images/kalimantan-utara-img-min.png");
}

h3 {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1rem;
  border-style: none none solid none;
  border-color: #dd2b37;
  width: 25%;
  margin: 0 auto 2rem auto;
}

.menu-filters h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #dd2b37;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
}

li {
  list-style: none;
}

.btn {
  border-radius: 50px;
  border: none;
  padding: 1rem 3rem;
}
/*# sourceMappingURL=style.css.map */